
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "poppins", sans-serif;
}


img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
    
}


.app{
  background-color: #ccc;
  min-height: 100vh;
  display: grid;

}
.weather-info{
     display: flex;
     flex-direction: column;
    padding: 40px;
    border-radius: 10px; 
    background-color:blue;
    
    align-items: center;
     place-self: center;
}
.search-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-icon input{
    height: 50px;
    border: none;
     outline-color: blue;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    font-size: 20px;



}
.weather_icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color: white;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: white;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.weather-data .icon{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .icon span{
 display: block;
 font-size: 16px;

}
.weather-data .icon img{
    
    margin-top: 10px;
}
.error{
    color: rgb(255, 0, 0);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
}